doctype html
html(lang="pt-br")
    head
        include includes/js.pug
        include includes/guilds.pug
        include includes/head.pug
        
        title !{bot.user.username} || Dashboard
    body 
        include includes/navbar.pug

        .container-lg.mt-5.p-3.rounded(style="background-color: #FA5532")
            .row
                .col-6.col-md-3.border-end.border-dark
                    .container-md.d-flex.flex-column.align-items-center
                        img.img-thumbnail.rounded-circle.border.border-info(src=guildIcon)
                        h2.text-center 
                            | !{guild.name}
                    .nav.flex-column.align-items-center
                        a.nav-link.active(href=`/guilds/${guild.id}`) Configuracoes gerais
                .col-6.col-md-8
                    h2.text-center Configuracoes gerais
                    .container-md 
                        form#guildForm.row.g-3
                            .col-sm-12
                                label.form-label(for="prefix") Prefixo
                                input.form-control#prefix(type="text" aria-describedby="prefixHelp" value=`${guildData.prefix || `-`}` style="max-width: 350px")
                                #prefixHelp.form-text Escolha um prefixo para seu servidor
                            .col-sm-9 
                                .form-check.form-switch
                                    input.form-check-input(type="checkbox" role="switch" id="flexSwitchCheckDefault")
                                    label.form-check-label(for="flexSwitchCheckDefault") Enviar uma mensagem quando usar comandos em canais proibidos
                            .col-sm-12
                                button.btn.btn-success(type="submit") Salvar


        script.
            document.getElementById('guildForm').addEventListener('submit', async (e) => {
                e.preventDefault();
                const prefix = document.getElementById('prefix').value,
                    restricted = document.getElementById('flexSwitchCheckDefault').checked;

                console.log(restricted)

                const response = await fetch('/api/update-guild-data', {
                    method: 'POST',
                    headers: {
                    'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ guildId: '!{guild.id}', prefix, restricted})
                    });
                const result = await response.json();
                alert(result.message);
                });
                